.header
    width: 100%
    // height: 50rem
    background-image: url("../images/nubicam-header-bg.jpg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    padding: 9rem 5rem

    &__image
        display: none

    &__title
        max-width: 57.3rem
        margin-bottom: 2rem

    &__text
        // max-width: 48rem
        margin-bottom: 3rem
        font-size: 2rem
        line-height: 3rem

        &--lg
            font-size: 3rem
            font-weight: 700

    &__delete
        font-size: 4.8rem
        font-weight: 700
        color: $text-color
        display: block
        position: relative

        &::after
            content: ''
            width: 18rem
            height: 0.6rem
            background-color: $primary-color
            position: absolute
            top: 1.5rem
            left: -0.2rem
            transform: rotate(-5deg)
  
    &__button
        display: inline-block

// Responsive
@include respond(tab-land)
    .header
        &__title
            font-size: 3.2rem
            line-height: 4.2rem

@include respond(phone)
    .header
        padding: 0rem
        background-image: none
        background-color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        &__image
            display: block !important

        &__title
            font-size: 2.4rem
            line-height: 3.4rem
            text-align: center
            padding: 0 2rem
            margin-top: 3rem

        &__text
            text-align: center
            padding: 0 0.5rem

        &__button
            margin-bottom: 5rem

        &__delete 
            margin-top: 5rem
            